# Entorno virtual
entorno_virtual/
ANFIS_VENV/

# Archivos de sistema
desktop.ini
archive.zip

# Carpetas de caché de Python
__pycache__/
*/__pycache__/

# Carpetas específicas
modelos_pruebas/
Mamdani_Model/
ANFIS_model/
ANFIS_model_3_cate/
